body {
    background-image:url(wallpaper.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

h1.title {
    color: #FFA07A;
}

h2.title {
    color: #FFA07A;
}

footer {
    text-align: center;
}