{% extends "layout.html" %}
{% block title %}Edit department{% endblock %}
{% block content %}
    <h1 class="title">Find Department</h1>
    
    <form action="" method="post" name="department_add">
      <div class="field">
        <label for="department_name" class="label">Department Name</label>
        <div class="control">
          <input type="text" name="department_name" class="input" required="required"/>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Find</button>
        </div>
      </div>
    </form>
{% endblock %}