{% extends "layout.html" %}
{% block title %}Edit meeting{% endblock %}
{% block content %}
    <h1 class="title">Update Meeting</h1>

    <form action="" method="post" name="meeting_update">
	
      <div class="field">
        <label for="id" class="label">ID</label>
		<fieldset disabled>
        <div class="control">
          <input type="number" name="id" class="input"  value="{{ row[0] }}"/>
        </div>
		</fieldset>
      </div>
	
      <div class="field">
        <label for="place_id" class="label">Place_ID</label>
        <div class="control">
          <input type="number" name="place_id" class="input"  value="{{ row[1] }}"/>
        </div>
      </div>
            
      <div class="field">
        <label for="date" class="label">Date</label>
        <div class="control">
          <input type="date" name="date" class="input"  value="{{ row[3] }}"/>
        </div>
        {% if 'date' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['date'] }}
        </p>
        {% endif %}
      </div>
      
      <div class="field">
        <label for="time" class="label">Time</label>
        <div class="control">
          <input type="time" name="time" class="input"  value="{{ row[4] }}"/>
        </div>
      </div>
      
      <div class="field">
        <label for="topic" class="label">Topic</label>
        <div class="control">
          <input type="text" name="topic" class="input"  value="{{ row[6] }}"/>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Change</button>
        </div>
      </div>
    </form>
{% endblock %}