{% extends "layout.html" %}
{% block title %}Edit movie{% endblock %}
{% block content %}
    <h1 class="title">Find Meeting</h1>
    
    <form action="" method="post" name="meeting_add">
      <div class="field">
        <label for="id" class="label">ID</label>
        <div class="control">
          <input type="number" name="id" class="input"/>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Find</button>
        </div>
      </div>
    </form>
{% endblock %}