{% extends "layout.html" %}
{% block title %}Meetings{% endblock %}
{% block content %}
    <h1 class="title">Meetings</h1>

    <table class="table">
    {% for i in range(0,len) %}
      <tr>
          <th>ID :</th>
        <td>{{ rows[i][0] }}</td>
          <th>PlaceID :</th>
        <td>{{ rows[i][1] }}</td>
          <th>StatusID :</th>
        <td>{{ rows[i][12] }}</td>
          <th>DATE :</th>
        <td>{{ rows[i][3] }}</td>
          <th>TIME :</th>
        <td>{{ rows[i][4] }}</td>
          <th>Duration :</th>
        <td>{{ rows[i][5] }}</td>
          <th>Topic :</th>
        <td>{{ rows[i][6] }}</td>
          <th>RESULT :</th>
        <td>{{ rows[i][7] }}</td>
    {%endfor%} 
    </table>
{% endblock %}
