{% extends "layout.html" %}
{% block title %}Participants{% endblock %}
{% block content %}
    <h1 class="title">Participants</h1>

    <table class="table is-narrow is-striped is-hoverable">
    
        <tr>
            <th>Meeting ID</th>
            <th>Person ID</th>
            <th>Role</th>
            <th>Attendance</th>
            <th>Performance</th>
			<th>Update</th>
            <th>Remove</th>
        </tr>
    {% for i in range(0,len) %}
        <tr>
            <td>{{ rows[i][0] }}</td>
            <td>{{ rows[i][1] }}</td>
            <td>{{ rows[i][2] }}</td>
            <td>{{ rows[i][3] }}</td>
            <td>{{ rows[i][4] }}</td>
			<td>
                <a class="button is-link" href="{{url_for('participants_update_change_page',Meeting_ID=rows[i][0], Person_ID=rows[i][1]) }}">
                    <span class="icon is-small is-left">
                      <i class="fa fa-edit"></i>
                    </span></a>
            </td>
            <td>
                <a class="button is-link" href="{{url_for('participants_remove', Meeting_ID=rows[i][0], Person_ID=rows[i][1]) }}">
                    <span class="icon is-small is-left">
                      <i class="fa fa-trash"></i>
                    </span>
                </a>
            </td>
			
        </tr>
    {%endfor%} 
    </table>
    
{% endblock %}
