{% extends "layout.html" %}
{% block title %}Update Personnel{% endblock %}
{% block content %}
    <h1 class="title">Update Personnel</h1>

    <form action="" method="post" name="<personnel_update">
	
	   <div class="field">
        <label for="id" class="label">ID</label>
		<fieldset disabled>
        <div class="control">
          <input type="number" name="id" class="fixed"  value="{{ row[0] }}"/>
        </div>
		</fieldset>
      </div>
	  
      <div class="field">
        <label for="Name" class="label">Name</label>
        <div class="control">
          <input type="text" name="Name" class="input"  value="{{ row[1] }}"/>
        </div>
      </div>
      
      <div class="field">
        <label for="Surname" class="label">Surname</label>
        <div class="control">
          <input type="text" name="Surname" class="input"  value="{{ row[2] }}"/>
        </div>
      </div>
      
      <div class="field">
        <label for="Department" class="label">Department</label>
        <div class="control">
          <input type="text" name="Department" class="input"  value="{{ row[3] }}"/>
        </div>
      </div>
      
      <div class="field">
        <label for="Professional_Title" class="label">Professional Title</label>
        <div class="control">
          <input type="text" name="Professional_Title" class="input"  value="{{ row[4] }}"/>
        </div>
      </div>
      
      <div class="field">
        <label for="Phone_Number" class="label">Phone Number</label>
        <div class="control">
          <input type="number" name="Phone_Number" class="input"  value="{{ row[5] }}"/>
        </div>
      </div>
      
      <div class="field">
        <label for="Email_Address" class="label">Email Address</label>
        <div class="control">
          <input type="text" name="Email_Address" class="input"  value="{{ row[6] }}"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Update</button>
        </div>
      </div>
    </form>
{% endblock %}