{% extends "layout.html" %}
{% block title %}Personnels{% endblock %}
{% block content %}
    <h1 class="title">Personnels</h1>

    <table class="table is-narrow is-striped is-hoverable">
    
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Department</th>
            <th>Professional Title</th>
            <th>Phone Number</th>
            <th>Email Address</th>
			<th>Picture</th>
			<th>Update</th>
            <th>Remove</th>
        </tr>
    {% for i in range(0,len) %}
        <tr>
            <td>{{ rows[i][0] }}</td>
            <td>{{ rows[i][1] }}</td>
            <td>{{ rows[i][2] }}</td>
            <td>{{ rows[i][3] }}</td>
            <td>{{ rows[i][4] }}</td>
            <td>{{ rows[i][5] }}</td>
            <td>{{ rows[i][6] }}</td>
            <td>
				<a class="button is-link" href="{{url_for('personnel_download_page', name=rows[i][1])}}">
                    <span class="icon is-small is-left">
                      <i class="fa fa-download"></i>
                    </span><p>Download</p></a>
				<a class="button is-link" href="{{url_for('personnel_upload_page', name=rows[i][1]) }}">
                    <span class="icon is-small is-left">
                      <i class="fa fa-upload"></i>
                    </span><p>Upload</p></a>
			</td>
            <td>
                <a class="button is-link" href="{{url_for('personnel_update_change_page', id=rows[i][0])}}">
                    <span class="icon is-small is-left">
                      <i class="fa fa-edit"></i>
                    </span></a>
            </td>
            <td>
                <a class="button is-link" href="{{url_for('personnel_remove', id=rows[i][0]) }}">
                    <span class="icon is-small is-left">
                      <i class="fa fa-trash"></i>
                    </span>
                </a>
            </td>
        </tr>
    {%endfor%} 
    </table>
    <div class="field is-grouped is-grouped-centered">
        <span class="navbar-item">
                <a class="button is-link" href="{{ url_for('personnel_add_page') }}">New Personnel</a>
        </span>
		<span class="navbar-item">
                <a class="button is-link" href="{{url_for('personnel_remove_page') }}">Remove Personnel</a>
		</span>
    </div>
    
{% endblock %}
