{% extends "layout.html" %}
{% block title %}Edit tech{% endblock %}
{% block content %}
    <h1 class="title">Remove Technology Package</h1>
    
    <form action="" method="post" name="tech_add">
      <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
          <input type="text" name="name" class="input"/>
        </div>
        {% if 'name' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['name'] }}
        </p>
        {% endif %}
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Remove</button>
        </div>
      </div>
    </form>
{% endblock %}